@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Banana Grotesk';
  src: url('/fonts/banana-grotesk-light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Custom styles for the n-back game */

/* General card styling */
.flip-card {
  width: 200px; /* Adjust width as needed */
  height: 300px; /* Adjust height as needed */
  perspective: 1000px; /* Depth effect for flip animation */
  margin: 0 auto; /* Center the card */
  transition: transform 1s, opacity 1s; /* Transition for moving and fading */
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d; /* Enables 3D flipped state */
  position: relative;
}

.flip-card.flipped .flip-card-inner,
.flipped .flip-card-inner {
  transform: rotateY(180deg); /* Flips the card */
}

.flip-card-front, .flip-card-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hide the back of the card when flipped */
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px; /* Rounded corners for the card */
}

.flip-card-front {
  background-color: #26A69A; /* Front card color */
  color: white;
}

.flip-card-back {
  background-color: #d7dade; /* Back card color */
  transform: rotateY(180deg); /* Align back face correctly */
}

/* Animation for card leaving */
.card-leaving {
  transform: translateX(-100%) scale(0.5); /* Move left and shrink */
  opacity: 0; /* Fade out */
}

/* Additional styling for responsiveness and aesthetics */
.card-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; /* Allows horizontal scrolling for multiple cards */
  gap: 20px; /* Space between cards */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, Opera */
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
